@font-face {
    font-family: 'Helvetica';
    src: url('./fonts/helvetica_regular.otf') format('opentype'), url('./fonts/helvetica_bold.otf') format('opentype'), url('./fonts/helvetica_oblique.otf') format('opentype'), url('./fonts/helvetica_boldoblique.otf') format('opentype'), url('./fonts/helvetica_light.otf') format('opentype'), url('./fonts/helvetica_lightoblique.otf') format('opentype'), url('./fonts/helvetica_cyr_oblique.ttf') format('truetype'), url('./fonts/helvetica_cyr_boldoblique.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
}

body {
    color: #333333;
}

img {
    width: 100%;
}

.container {
    max-width: var(--container-width);
    margin: auto;
}

header {
    background-color: var(--color-primary);
    text-align: center;
    padding: 27px 0px 10px 0px;
}

.headline {
    font-size: var(--font-18-size);
    color: #fff;
}

.subheading {
    font-size: var(--font-20-size);
    color: #fff;
    font-weight: 500;
    margin-top: 0.8rem;
}

#main {
    margin: 1rem auto;
    padding: 1rem;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.56);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.56);
}

.article-category {
    font-size: var(--font-12-size);
    color: var(--color-grey);
}

.article-title {
    font-size: var(--font-32-size);
    color: var(--color-grey);
    margin-top: 1rem;
}

.article-excerpt {
    font-size: var(--font-20-size);
    margin: 1rem auto;
}

.article-info {
    font-size: var(--font-12-size);
    color: var(--color-grey);
}

.illustration {
    margin: 0.6rem auto;
}

.text {
    font-size: var(--font-17-size);
    color: #333;
    margin: 1rem auto;
}

.primary-btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--color-primary);
    color: #fff;
    text-decoration: none;
    padding: 1rem 0;
    border-radius: 5px;
    transition: background .3s ease-in-out;
}

.primary-btn:hover {
    background: var(--color-accent-hover);
}

.primary-btn__top {
    font-weight: 700;
    font-size: var(--font-20-size);
}

.primary-btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--color-accent);
    color: #fff;
    text-decoration: none;
    padding: 1rem 0;
}

.article-section-title {
    font-size: var(--font-28-size);
    margin-top: 2rem;
}

.list li {
    list-style: none;
    display: flex;
    gap: 11px;
    font-size: var(--font-15-size);
    font-weight: 700;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
}

.primary-btn-green.primary-btn {
    background: var(--color-accent);
    font-size: var(--font-18-size);
}

.primary-btn-green.primary-btn:hover {
    background: var(--color-accent-hover);
}

.table {
    display: flex;
    flex-direction: row;
    margin: 2rem auto;
}

.row {
    flex-basis: 50%;
}

.cel {
    border: 1px solid #333;
    width: 100%;
    height: 80px;
    font-size: var(--font-20-size);
    display: flex;
    align-items: center;
}

.cel-text {
    padding-left: 1rem;
}

.center {
    justify-content: center;
}

.cel.blue-cel {
    background: var(--color-primary);
    color: #fff;
}

.illustration-2 {
    max-width: 80%;
}

.img-wrapper {
    display: flex;
    justify-content: center;
}

footer .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.2rem;
}

.cite-name,
.copy-right,
.footer-menu li a {
    font-size: var(--font-15-size);
    color: var(--color-grey);
    font-weight: 500;
    text-decoration: none;
}

.footer-menu li a,
.divider-menu {
    color: var(--color-primary);
}

.footer-menu li {
    list-style: none;
}

.footer-menu {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.footer-menu {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

footer {
    padding: 1rem 0 2rem 0;
    position: relative;
    margin-top: 2rem;
}

footer::before {
    content: "";
    width: var(--container-width);
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: linear-gradient(to right, transparent, #a1a1a12e, #a1a1a12e, transparent);
}

.tabs-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    justify-content: center;
    margin: 2rem auto;
}

.tabs-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .8);
    max-width: 240px;
    padding: 2rem 0;
    flex-basis: 40%;
    border-radius: 10px;
    transition: background .3s ease-in-out;
    text-decoration: none;
}

.tabs-item__img {
    max-width: 70px;
}

.tabs-item__age {
    color: #333;
    text-decoration: none;
    margin-top: 1rem;
}

.tabs-item:hover {
    background: var(--color-accent-hover);
}